* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
}

.left-bar {
    /* display: flex; */
    /* justify-content: flex-start; */
    /* padding-left: 10px; */
    background-color: black;
    width: 300px;
    height: calc(100vh - 100px);
}

.logo {
    width: 200px;
}

.upgrade-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    position: sticky;
    top: 0;
}

.upgrade-btn {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 25px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 999px;
    background-color: transparent;
    font-weight: 800;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content-bar {
    background-color: #141922;
    flex-grow: 1;
    height: calc(100vh - 100px);
    overflow: auto;
}

.down-bar {
    background-color: #282828;
    height: 100px;
}